/*
|--------------------------------------------------------------------------
| Preliminary Notes - EAP
|--------------------------------------------------------------------------
| Title: Engagency Assessment
| Please note that this was created with a bit of help from the W3CSS Framework
| 
| Responsive components added per section (when needed)
*/

/* =================================================================
   General 
   ================================================================= */

body {
  font-family: "Montserrat", sans-serif;
}

/* overrides - if any*/

/* CSS Variables */
:root {
  --brand-color-a: #ffffff;
  --brand-color-b: #333333;
  --brand-color-c: #e24301;
  --svg-size-default: 35px;
}

/* SVG Sizings */
.svg-size {
  width: var(--svg-size-default);
  float: right;
}

/* =================================================================
     Navigation 
     ================================================================= */

/* Navigational padding for the two main levels of navigation */
.nav_pad {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.nav_pad__inner {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

/*  Primary Navigation Settings */
.primary__nav {
  background-color: var(--brand-color-b);
  display: flex;
  justify-content: space-between;
}

/* Set the width of their innermost divs to occupy all 100% sizing */
.primary__nav div {
  width: 100%;
}

.navigation_nav_primary_nav__main-text {
  color: var(--brand-color-a);
  padding-top: 5px;
}

.navigation_nav_primary_nav__main-text a {
  text-decoration: none;
}

.navigation_nav_primary__svg-section div img {
  padding-right: 8px;
}

/* Secondary navigation */
.secondary_navigation {
  background-color: var(--brand-color-c);
}

.secondary_navigation__logo {
  padding-left: 0;
}

.secondary_navigational_link {
  color: var(--brand-color-a);
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s;
}

.secondary_navigational_link:nth-child(2) {
    padding-right: 0;
}

.secondary_navigational_link:hover {
  text-decoration: underline;
  text-decoration-color: var(--brand-color-a);
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}


/* media query - remove the underline for the burger icon - no fancy tricks here, merely selecting the div for it*/
@media only screen and (max-width: 767px) {
  #burger_icon {
    text-decoration: none;
  }
}

/* =============================================================================================
     Hero Banner
   ============================================================================================= */

/* EAP Note: relative positioning works best for adjusting image text when it is used as an overlay, 
   this with some media queries will bring the design home */
.hero__banner {
  position: relative;
}

/* EAP Note: Simple code for adjusting a large image such as this one into the cropping 
   size that we require plus the use of the filter selector */
.hero__banner img {
  object-fit: cover;
  width: 100%;
  height: 450px;
  filter: brightness(30%);
}

/* We remove the that is given to the figure by default */
.hero__banner figure {
  margin: 0;
}

.hero__banner_text_overlay img {
  object-fit: cover;
  width: 100%;
  height: 450px;
  filter: brightness(30%);
}

/* Set the parent container of the image (the figure) to a relative positioning */
.hero__banner_text_overlay {
  position: relative;
}

/* Start adjusting the caption included on the image - this is the figcaption */
.hero__banner_text_overlay__text {
  position: absolute;
  top: 30%;
  left: 15%;
}

/* Adjust span coloring - since both textual components will be spans */
.hero__banner_text_overlay__text span {
  color: #ffffff;
}

/* Adjust the spans individually for block options */
.heading-primary__main {
  display: block;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.heading-primary__sub {
  display: block;
  margin-bottom: 15px;
}

/* Hero banner button section */
.hero__btn {
  display: inline-block;
  background-color: transparent;
  border: 0.5px solid white;
  color: #ffffff;
  padding: 12px 48px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  opacity: 0.9;
  transition: all 0.2s;
  border-radius: 2.5px;
}

.hero__btn:hover {
  background-color: var(--brand-color-a);
  color: var(--brand-color-b);
}

/* Select the nth child being the first in this section to adjust the margin */
.hero__btn:nth-of-type(1) {
  margin-right: 35px;
}

/* media query */
@media only screen and (max-width: 767px) {
  .hero__banner_text_overlay img {
    height: 400px;
  }

  .hero__banner_text_overlay__text {
    top: 10%;
    left: 5%;
    right: 5%;
    text-align: center;
  }

  .heading-primary__sub {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .hero__buttons {
    border: transparent;
  }

  .hero__btn {
    display: block;
  }

  .hero__btn:nth-of-type(1) {
    margin-bottom: 5%;
    margin-right: 0;
  }
}

/* =============================================================================================
     Call to Action
   ============================================================================================= */

.section-call-to-action {
  background-color: var(--brand-color-c);
  color: var(--brand-color-a);
}

.section-call-to-action__main-text {
  display: flex;
  align-items: center;
  padding: 40px;
}
.section-call-to-action__main-text .action__text {
  font-size: 20px;
  margin-left: 20%;
}

.section-call-to-action__main-text .action__button__link {
  margin-left: 5%;
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  border: 1px solid var(--brand-color-a);
  color: var(--brand-color-a);
  padding: 14px 95px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  opacity: 0.9;
  transition: all 0.2s;
  border-radius: 5px;
}

.section-call-to-action__main-text .action__button__link:hover {
  background-color: var(--brand-color-a);
  color: var(--brand-color-c);
}

@media only screen and (max-width: 1023px) {
  .section-call-to-action__main-text {
    display: block;
    text-align: center;
  }

  .section-call-to-action__main-text .action__text {
    display: inline-block;
    margin-left: 0;
    margin-bottom: 2%;
  }

  .section-call-to-action__main-text .action__button__link {
    display: block;
    
    margin-left: 20%;
    margin-right: 20%;
  }
}

/* media query */
@media only screen and (max-width: 767px) {
  .section-call-to-action__main-text {
    display: block;
    text-align: center;
  }

  .section-call-to-action__main-text .action__text {
    display: inline-block;
    margin-left: 0;
    margin-bottom: 2%;
  }

  .section-call-to-action__main-text .action__button__link {
    display: block;
    margin-left: 0;
    margin-right: 0%;
  }
}

/* =============================================================================================
     Icon Features
   ============================================================================================= */

.flex_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 50px;
  padding-right: 50px;
}

.section-icon-features__card-item {
  width: 450px;
}

.icon-features__image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-features__text {
  text-align: center;
  transition: all 0.2s;
  opacity: 0.9;
}

.icon-features__text p {
  padding-left: 2%;
  padding-right: 2%;
  font-size: 15px;
  line-height: normal;
  padding-top: 10px;
  padding-bottom: 10px;
}

.icon-features__text h3:hover {
  color: var(--brand-color-c);
}

@media only screen and (max-width: 1023px) {
  .flex_container {
    flex-wrap: wrap;
  }
  .icon-features__text p {
    font-size: 20px;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  /* smart architecture */
  .section-icon-features__card-item:nth-of-type(1n) {
    order: 2;
    width: 350px;
  }

  /* stress free maintenance */
  .section-icon-features__card-item:nth-of-type(2n) {
    flex-basis: 100%;
    order: 1;
  }

  /* in depth audits */
  .section-icon-features__card-item:nth-of-type(3n) {
    order: 3;
    width: 350px;
  }
}

@media only screen and (max-width: 902px) {
  .flex_container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .section-icon-features__card-item {
    width: 100%;
  }

  .icon-features__text p {
    padding-left: 5%;
    padding-right: 5%;
  }
}
